body{
    font-family: 'Microsoft JhengHei';
}
nav {
    background-color: rgba(0, 0, 0, 0.35);
    transition: all .5s;
}

nav:hover {
    background-color: rgba(0, 0, 0, 1);
}

nav h1 {
    animation: showTxt 2s;
}

@keyframes showTxt {
    from {
        transform: scale(0.5, 0.5) rotate(-15deg);
    }
    to {
        transform: scale(1.0, 1.0) rotate(0deg);
    }
}